<div class="panel padding">
<h1>Olar!</h1>
  <h2>See what's going on</h2>
  <div class="row">
    <div class="[ col-sm-6 col-md-4 ]">
      <div class="[ info-card ]">
        <img style="width: 100%" src="http://api.randomuser.me/portraits/women/45.jpg" />
        <div class="[ info-card-details ] animate">
          <div class="[ info-card-header ]">
            <h1> Caroline Samantha Henderson </h1>
            <h3> aka not a real person </h3>
          </div>
          <div class="[ info-card-detail ]">
            <p>People often say that beauty is in the eye of the beholder</p>
          </div>
        </div>
      </div>
    </div>
    <div class="[ col-sm-6 col-md-4 ]">
      <div class="[ info-card ]">
        <img style="width: 100%" src="http://api.randomuser.me/portraits/women/45.jpg" />
        <div class="[ info-card-details ] animate">
          <div class="[ info-card-header ]">
            <h1> Caroline Samantha Henderson </h1>
            <h3> aka not a real person </h3>
          </div>
          <div class="[ info-card-detail ]">
            <p>People often say that beauty is in the eye of the beholder</p>
          </div>
        </div>
      </div>
    </div>
    <div class="[ col-sm-6 col-md-4 ]">
      <div class="[ info-card ]">
        <img style="width: 100%" src="http://api.randomuser.me/portraits/women/45.jpg" />
        <div class="[ info-card-details ] animate">
          <div class="[ info-card-header ]">
            <h1> Caroline Samantha Henderson </h1>
            <h3> aka not a real person </h3>
          </div>
          <div class="[ info-card-detail ]">
            <p>People often say that beauty is in the eye of the beholder</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="[ col-sm-6 col-md-4 ]">
      <div class="[ info-card ]">
        <img style="width: 100%" src="http://api.randomuser.me/portraits/women/45.jpg" />
        <div class="[ info-card-details ] animate">
          <div class="[ info-card-header ]">
            <h1> Caroline Samantha Henderson </h1>
            <h3> aka not a real person </h3>
          </div>
          <div class="[ info-card-detail ]">
            <p>People often say that beauty is in the eye of the beholder</p>
          </div>
        </div>
      </div>
    </div>
    <div class="[ col-sm-6 col-md-4 ]">
      <div class="[ info-card ]">
        <img style="width: 100%" src="http://api.randomuser.me/portraits/women/45.jpg" />
        <div class="[ info-card-details ] animate">
          <div class="[ info-card-header ]">
            <h1> Caroline Samantha Henderson </h1>
            <h3> aka not a real person </h3>
          </div>
          <div class="[ info-card-detail ]">
            <p>People often say that beauty is in the eye of the beholder</p>
          </div>
        </div>
      </div>
    </div>
    <div class="[ col-sm-6 col-md-4 ]">
      <div class="[ info-card ]">
        <img style="width: 100%" src="http://api.randomuser.me/portraits/women/45.jpg" />
        <div class="[ info-card-details ] animate">
          <div class="[ info-card-header ]">
            <h1> Caroline Samantha Henderson </h1>
            <h3> aka not a real person </h3>
          </div>
          <div class="[ info-card-detail ]">
            <p>People often say that beauty is in the eye of the beholder</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Please sign in to explore around</h3>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4">
      <a href="/login" class="btn btn-lg btn-success btn-block">Log in</a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
      <a href="/register" class="btn btn-lg btn-primary btn-block">Register</a>
    </div>
  </div>
</div>
