.ratings {
  margin-left: 30px;
}
span.tags
{
  background: #1abc9c;
  border-radius: 2px;
  color: #f5f5f5;
  font-weight: bold;
  padding: 2px 4px;
}
.divider
{
  border-top:1px solid rgba(0,0,0,0.1);
}
.emphasis
{
  border-top: 4px solid transparent;
}
.emphasis:hover
{
  border-top: 4px solid #1abc9c;
}
.dropdown-menu
{
  background-color: #34495e;
  box-shadow: none;
  -webkit-box-shadow: none;
  width: 250px;
}
.dropdown-menu .divider
{
  background:none;
}
.dropdown-menu>li>a
{
  color:#f5f5f5;
}
.dropup .dropdown-menu
{
  margin-bottom:10px;
}
.dropup .dropdown-menu:before
{
  content: "";
  border-top: 10px solid #34495e;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  z-index: 10;
}
.dropup {
  position: absolute;
}
